# Tratar todas estas extensões como arquivos binários
# Isso desliga qualquer conversão de quebra de linha (CRLF/LF)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.ico binary
*.webp binary